.canvas {
    position: relative;
    width: 343px;
    height: 480px;
    margin: auto;
    background: url(./images/bg.jpg) no-repeat;
    overflow: hidden;
}
.head {
    position: absolute;
    top: 100px;
    left: 60px;
    animation: birdmove 1.5s infinite;
}
.game_start{
    display: block;
  }
